{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/css/main.css' %}" />

	<script src="{% static 'touchgestures/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Touch Gestures</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    var myElement = document.getElementById('tap-box');
    var mc = new Hammer(myElement);

    // listen to events...
    mc.on("tap", function(ev) {
        myElement.textContent = ev.type +" gesture detected.";
        myElement.style.backgroundColor = 'black'
    });

    var myElement1 = document.getElementById('pan-box');
    var mc1 = new Hammer(myElement1);
    // mc1.get('pan').set({ direction: Hammer.DIRECTION_ALL, threshold: 0 });
    mc1.add( new Hammer.Pan({ direction: Hammer.DIRECTION_ALL, threshold: 0 }) );
    // mc1.on("panleft panright panup pandown", handleDrag);
    // var lastPosX = 0;
    // var lastPosY = 0;
    // var isDragging = false;
    // function handleDrag(ev) {
      
    //   var elem = ev.target;
    //   myElement1.textContent = ev.type +" gesture detected.";
    //   if (!isDragging) {
    //     isDragging = true;
    //     lastPosX = elem.offsetLeft;
    //     lastPosY = elem.offsetTop;
        
    //   }
    //   var posX = ev.deltaX + lastPosX;
    //   var posY = ev.deltaY + lastPosY;
      
    //   // move our element to that position
    //   elem.style.left = posX + "px";
    //   elem.style.top = posY + "px";
      
    //   // DRAG ENDED
    //   // this is where we simply forget we are dragging
    //   if (ev.isFinal) {
    //     isDragging = false;
    //   }
    // }
    mc1.on("panleft panright panup pandown", function(ev) {
        myElement1.textContent = ev.type +" gesture";
        myElement1.style.backgroundColor = 'blue'
    });

    var myElement2 = document.getElementById('press-box');
    var mc2 = new Hammer(myElement2);
    mc2.on("press", function(ev) {
        myElement2.style.backgroundColor = 'white'
    });

    var myElement3 = document.getElementById('rotate-box');
    var mc3 = new Hammer.Manager(myElement3);
    var rotate = new Hammer.Rotate();
    // pinch.recognizeWith(rotate);
    mc3.add([rotate]);
    mc3.on("rotate", function(ev) {
        myElement3.textContent += "Rotating!";
        myElement3.style.backgroundColor = '#F00505'
    });

    var myElement4 = document.getElementById('pinch-box');
    var mc4 = new Hammer.Manager(myElement4);
    var pinch = new Hammer.Pinch();
    // pinch.recognizeWith(rotate);
    mc4.add([pinch]);
    mc4.on("pinch", function(ev) {
        myElement4.textContent += "Pinching";
        myElement4.style.backgroundColor = '#F005D4'
    });

  var myElement5 = document.getElementById('swipe-box');
    var mc5 = new Hammer.Manager(myElement5);
    var swipe = new Hammer.Swipe();
    // pinch.recognizeWith(rotate);
    mc5.add([swipe]);
    mc5.on("swipe", function(ev) {
        myElement5.textContent += "Swiping";
        myElement5.style.backgroundColor = '#05F0D7'
    });
//   var Swipe = new Hammer.Swipe();

// // Add the recognizer to the manager
// manager.add(Swipe);

// // Declare global variables to swiped correct distance
// var deltaX = 0;
// var deltaY = 0;

// // Subscribe to a desired event
// manager.on('swipe', function(e) {
//   deltaX = deltaX + e.deltaX;
//   var direction = e.offsetDirection;
//   var translate3d = 'translate3d(' + deltaX + 'px, 0, 0)';
  
//   if (direction === 4 || direction === 2) {
//     e.target.innerText = deltaX;
//     e.target.style.transform = translate3d;
//   }
// });
  </script>
</body>
</html>
