{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'touchgestures/css/main.css' %}" />

	<script src="{% static 'touchgestures/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static 'touchgestures/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Touch Gestures</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    // each gesture box turns into a different color when the gesture is recognized
    var box = document.getElementById('tap-box');
    var ham = new Hammer(box);
    ham.on("tap", function(ev) {
        box.textContent = ev.type +" gesture detected.";
        box.style.backgroundColor = 'black'
    });

    var box1 = document.getElementById('pan-box');
    var ham1 = new Hammer(box1);
    ham1.add( new Hammer.Pan({ direction: Hammer.DIRECTION_ALL, threshold: 0 }) );
  
    ham1.on("panleft panright panup pandown", function(ev) {
        box1.textContent = ev.type +" gesture";
        box1.style.backgroundColor = 'blue'
    });

    var box2 = document.getElementById('press-box');
    var ham2 = new Hammer(box2);
    ham2.on("press", function(ev) {
        box2.style.backgroundColor = 'white'
    });

    var box3 = document.getElementById('rotate-box');
    var ham3 = new Hammer.Manager(box3);
    var rotate = new Hammer.Rotate();
    ham3.add(rotate);
    ham3.on("rotate", function(ev) {
        box3.textContent += "Rotating!";
        box3.style.backgroundColor = '#F00505'
    });

    var box4 = document.getElementById('pinch-box');
    var ham4 = new Hammer.Manager(box4);
    var pinch = new Hammer.Pinch();
    ham4.add(pinch);
    ham4.on("pinch", function(ev) {
        box4.textContent += "Pinching";
        box4.style.backgroundColor = '#F005D4'
    });

  var box5 = document.getElementById('swipe-box');
    var ham5 = new Hammer.Manager(box5);
    var swipe = new Hammer.Swipe();
    ham5.add(swipe);
    ham5.on("swipe", function(ev) {
        box5.textContent += "Swiping";
        box5.style.backgroundColor = '#05F0D7'
    });
  </script>
</body>
</html>
